<div class="eruda-section">
    <h2 class="eruda-title {{localStoreState}}">
        LocalStorage
        <div class="eruda-btn refresh-local-storage">
            <span class="eruda-icon-loop"></span>
        </div>
    </h2>
    <table>
        <tbody>
            {{#if localStoreData}}
                {{#each localStoreData}}
                    <tr>
                        <td class="eruda-key">{{key}}</td>
                        <td>{{val}}</td>
                        <td class="eruda-control">
                            <span class="eruda-icon-bin delete-local-storage" data-key="{{key}}"></span>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td>Empty</td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</div>
<div class="eruda-section">
    <h2 class="eruda-title {{cookieState}}">
        Cookie
        <div class="eruda-btn refresh-cookie">
            <span class="eruda-icon-loop"></span>
        </div>
    </h2>
    <table>
        <tbody>
            {{#if cookieData}}
                {{#each cookieData}}
                    <tr>
                        <td class="eruda-key">{{key}}</td>
                        <td>{{val}}</td>
                        <td class="eruda-control">
                            <span class="eruda-icon-bin delete-cookie" data-key="{{key}}"></span>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td>Empty</td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</div>
<div class="eruda-section">
    <h2 class="eruda-title {{scriptState}}">
        Script
        <div class="eruda-btn refresh-script">
            <span class="eruda-icon-loop"></span>
        </div>
    </h2>
    <ul class="eruda-link-list">
        {{#if scriptData}}
            {{#each scriptData}}
                <li>
                    <a href="{{this}}" target="_blank" class="js-link">{{this}}</a>
                </li>
            {{/each}}
        {{else}}
            <li>Empty</li>
        {{/if}}
    </ul>
</div>
<div class="eruda-section">
    <h2 class="eruda-title {{stylesheetState}}">
        Stylesheet
        <div class="eruda-btn refresh-stylesheet">
            <span class="eruda-icon-loop"></span>
        </div>
    </h2>
    <ul class="eruda-link-list">
        {{#if stylesheetData}}
            {{#each stylesheetData}}
                <li>
                    <a href="{{this}}" target="_blank" class="css-link">{{this}}</a>
                </li>
            {{/each}}
        {{else}}
            <li>Empty</li>
        {{/if}}
    </ul>
</div>
<div class="eruda-section">
    <h2 class="eruda-title {{imageState}}">
        Image
        <div class="eruda-btn refresh-image">
            <span class="eruda-icon-loop"></span>
        </div>
    </h2>
    <ul class="eruda-image-list">
        {{#if imageData}}
            {{#each imageData}}
                <li>
                    <a href="{{this}}" target="_blank">
                        <img src="{{this}}" data-exclude="true"/>
                    </a>
                </li>
            {{/each}}
        {{else}}
            <li class="eruda-empty">Empty</li>
        {{/if}}
    </ul>
</div>