<div {{{class 'bottom-bar'}}}>
  <div {{{class 'btn select'}}}>
    <span {{{class 'icon icon-select'}}}></span>
  </div>
  <div {{{class 'btn refresh'}}}>
    <span {{{class 'icon icon-refresh'}}}></span>
  </div>
  <div {{{class 'btn highlight'}}}>
    <span {{{class 'icon icon-eye'}}}></span>
  </div>
  <div {{{class 'btn reset'}}}>
    <span {{{class 'icon icon-reset'}}}></span>
  </div>
</div>