{{#if parents}}
    <ul class="eruda-parents">
        {{#each parents}}
            <li>
                <div class="eruda-parent" data-idx="{{idx}}">{{{text}}}</div>
                <span class="eruda-icon-chevron-right"></span>
            </li>
        {{/each}}
    </ul>
{{/if}}
<div class="eruda-breadcrumb">
    {{{name}}}
</div>
{{#if children}}
    <ul class="eruda-children">
        {{#each children}}
            <li class="eruda-child {{#if isCmt}}eruda-green{{/if}} {{#if isEl}}eruda-active-effect{{/if}}" data-idx="{{idx}}" ontouchstart>{{{text}}}</li>
        {{/each}}
    </ul>
{{/if}}
<div class="eruda-attributes eruda-section">
    <h2>Attributes</h2>
    <div class="eruda-table-wrapper">
        <table>
            <tbody>
            {{#if attributes}}
                {{#each attributes}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{{value}}}</td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td>Empty</td>
                </tr>
            {{/if}}
            </tbody>
        </table>
    </div>
</div>
{{#if computedStyle}}
    <div class="eruda-computed-style eruda-section">
        <h2 class="toggle-all-computed-style eruda-active-effect" ontouchstart>Computed Style</h2>
        <div class="eruda-table-wrapper">
            <table>
                <tbody>
                {{#each computedStyle}}
                    <tr>
                        <td class="eruda-key">{{@key}}</td>
                        <td>{{{.}}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
{{/if}}
{{#if styles}}
    <div class="eruda-styles eruda-section">
        <h2>Styles</h2>
        <div class="eruda-style-wrapper">
            {{#each styles}}
                <div class="eruda-style-rules">
                    <div>{{selectorText}} {</div>
                    {{#each style}}
                        <div class="eruda-rule">
                            <span>{{@key}}</span>: {{{.}}};
                        </div>
                    {{/each}}
                    <div>}</div>
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}
{{#if listeners}}
    <div class="eruda-listeners eruda-section">
        <h2>Event Listeners</h2>
        <div class="eruda-listener-wrapper">
            {{#each listeners}}
               <div class="eruda-listener">
                   <div class="eruda-listener-type">{{@key}}</div>
                   <ul class="eruda-listener-content">
                       {{#each .}}
                           <li class="{{#if useCapture}}eruda-capture{{/if}}">{{listenerStr}}</li>
                       {{/each}}
                   </ul>
               </div>
            {{/each}}
        </div>
    </div>
{{/if}}
