<div {{{class 'elements-highlight'}}}>
  <div {{{class 'indicator'}}}>
    <div {{{class 'margin'}}}></div>
    <div {{{class 'border'}}}></div>
    <div {{{class 'padding'}}}></div>
    <div {{{class 'content'}}}></div>
  </div>
  <div {{{class 'size'}}}></div>
</div>