<div id="{{id}}" {{{class 'range'}}}>
  <div {{{class 'head'}}}>
    {{desc}}
    <span {{{class 'val'}}}>{{val}}</span>
  </div>
  <div {{{class 'input-container'}}} data-id="{{id}}">
    <div {{{class 'range-track'}}}>
      <div {{{class 'range-track-bar'}}}>
        <div {{{class 'range-track-progress'}}} style="width: {{progress}}%"></div>
      </div>
    </div>
    <input type="range" min="{{min}}" max="{{max}}" step="{{step}}" value="{{val}}"/>
  </div>
</div>