<div class="eruda-range">
    <div class="eruda-head">
        {{desc}}
        <span class="eruda-val">{{val}}</span>
    </div>
    <div class="eruda-input-container" data-idx="{{idx}}">
        <input type="range" min="{{min}}" max="{{max}}" step="{{step}}" value="{{val}}"/>
    </div>
</div>