<div id="{{id}}" class="eruda-range">
    <div class="eruda-head">
        {{desc}}
        <span class="eruda-val">{{val}}</span>
    </div>
    <div class="eruda-input-container" data-id="{{id}}">
        <div class="eruda-range-track">
            <div class="eruda-range-track-bar">
                <div class="eruda-range-track-progress" style="width: {{progress}}%"></div>
            </div>
        </div>
        <input type="range" min="{{min}}" max="{{max}}" step="{{step}}" value="{{val}}"/>
    </div>
</div>