<div id="{{id}}" {{{class 'select'}}}>
  <div {{{class 'head'}}}>
    {{desc}}
    <span {{{class 'val'}}}>{{val}}</span>
  </div>
  <ul data-id="{{id}}">
     {{#each selections}}
       <li>{{.}}</li>
     {{/each}}
  </ul>
</div>