<div id="{{id}}" class="eruda-select">
    <div class="eruda-head">
        {{desc}}
        <span class="eruda-val">{{val}}</span>
    </div>
    <ul data-id="{{id}}">
       {{#each selections}}
           <li>{{.}}</li>
       {{/each}}
    </ul>
</div>