<div id="{{id}}" {{{class 'switch'}}}>
  {{desc}}
  <label {{{class 'checkbox'}}}>
    <input type="checkbox" {{{class 'input'}}} data-id="{{id}}" {{#if val}}checked{{/if}}>
    <span {{{class 'label'}}}></span>
    <span {{{class 'handle'}}}></span>
  </label>
</div>