{{#if showLineNum}}
  <div {{{class 'code-wrapper'}}}>
    <table {{{class 'code'}}}>
      <tbody>
        <tr>
          <td {{{class 'gutter'}}}>
            {{#each code}}
              <div {{{class 'line-num'}}}>{{idx}}</div>
            {{/each}}
          </td>
          <td {{{class 'content'}}}>
            {{#each code}}
              <pre {{{class 'code-line'}}}>{{{val}}}</pre>
            {{/each}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{{else}}
  <div {{{class 'code-wrapper'}}}>
    <pre {{{class 'code'}}}>{{{code}}}</pre>
  </div>
{{/if}}
