<div class="eruda-http">
    <div class="eruda-breadcrumb">{{url}}</div>
    {{#if data}}
        <pre class="eruda-data">{{data}}</pre>
    {{/if}}
    <div class="eruda-section">
        <h2>Request Headers</h2>
        <table class="eruda-headers">
            <tbody>
                {{#if reqHeaders}}
                    {{#each reqHeaders}}
                        <tr>
                            <td class="eruda-key">{{@key}}</td>
                            <td>{{.}}</td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td>Empty</td>
                    </tr>
                {{/if}}
            </tbody>
        </table>
        <h2>Response Headers</h2>
        <table class="eruda-headers">
            <tbody>
                {{#if resHeaders}}
                    {{#each resHeaders}}
                        <tr>
                            <td class="eruda-key">{{@key}}</td>
                            <td>{{.}}</td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td>Empty</td>
                    </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
    {{#if resTxt}}
        <pre class="eruda-response">{{resTxt}}</pre>
    {{/if}}
</div>