<div {{{class 'image'}}}>
  <div {{{class 'breadcrumb'}}}>{{src}}</div>
  <div {{{class 'img-container'}}} data-exclude="true">
    <img src="{{src}}">
  </div>
  <div {{{class 'img-info'}}}>{{width}} × {{height}}</div>
</div>