<div {{{class 'control'}}}>
    <span {{{class 'icon-clear clear-console'}}}></span>
    <span {{{class 'filter active'}}} data-filter="all">All</span>
    <span {{{class 'filter'}}} data-filter="error">Error</span>
    <span {{{class 'filter'}}} data-filter="warn">Warning</span>
    <span {{{class 'filter'}}} data-filter="info">Info</span>
    <span {{{class 'filter'}}} data-filter="log">Log</span>
    <span {{{class 'filter'}}} data-filter="debug">Debug</span>
    <span {{{class 'icon-info help'}}}></span>
</div>
<ul {{{class 'logs'}}}></ul>
<div {{{class 'js-input'}}}>
    <div {{{class 'buttons'}}}>
        <div {{{class 'button cancel'}}}>Cancel</div>
        <div {{{class 'button execute'}}}>Execute</div>
    </div>
    <textarea placeholder="Type JavaScript here"></textarea>
</div>