<div {{{class 'console-container'}}}>
  <div {{{class 'control'}}}>
    <span {{{class 'icon-clear clear-console'}}}></span>
    <span {{{class 'filter active'}}} data-filter="all">All</span>
    <span {{{class 'filter'}}} data-filter="error">Error</span>
    <span {{{class 'filter'}}} data-filter="warn">Warning</span>
    <span {{{class 'filter'}}} data-filter="info">Info</span>
    <span {{{class 'search-keyword'}}}></span>
    <span {{{class 'icon-search search'}}}></span>
  </div>
  <div {{{class 'logs-container'}}}>
    <div {{{class 'logs-space'}}}>
      <div {{{class 'fake-logs'}}}></div>
      <div {{{class 'logs'}}}></div>
    </div>
  </div>
  <div {{{class 'js-input'}}}>
    <div {{{class 'buttons'}}}>
      <div {{{class 'button cancel'}}}>Cancel</div>
      <div {{{class 'button execute'}}}>Execute</div>
    </div>
    <span {{{class 'icon-arrow-right'}}}></span>
    <textarea></textarea>
  </div>
</div>