<li class="eruda-log" data-id="{{id}}" data-type="{{type}}">
    {{#if displayHeader}}
        <div class="eruda-header">
            {{#repeat group.indentLevel}}
                <div class="eruda-nesting-level"></div>
            {{/repeat}}
            <div class="eruda-time-container">
                <span data-mark="time">{{time}}</span> <span>{{from}}</span>
            </div>
        </div>
    {{/if}}
    <div class="eruda-{{type}} eruda-log-item">
        {{#repeat group.indentLevel}}
            <div class="eruda-nesting-level"></div>
        {{/repeat}}
        {{#if icon}}
            <div class="eruda-icon-container">
                <span class="eruda-icon eruda-icon-{{icon}}"></span>
            </div>
        {{/if}}
        <div class="eruda-count-container eruda-hidden">
            <div class="eruda-count" data-mark="count"></div>
        </div>    
        <div class="eruda-log-content-wrapper">
            <div class="eruda-log-content">{{{msg}}}</div>
        </div>
    </div>
</li>