<ul>
    {{#each logs}}
        <li class="eruda-{{type}} eruda-log-item" data-idx="{{@index}}">
            {{#if showTimes}}<div class="eruda-times">{{times}}</div>{{/if}}
            <div class="eruda-log-content-wrapper">
                <div class="eruda-log-content">
                    {{#if isCode}}
                        <pre>{{{val}}}</pre>
                    {{else}}
                        {{{val}}}
                    {{/if}}
                </div>
            </div>
        </li>
    {{/each}}
</ul>