<ul>
    {{#each logs}}
        <li class="eruda-{{type}} eruda-log-item" data-idx="{{@index}}">
            {{#if showTimes}}<span class="eruda-times">{{times}}</span>{{/if}}
            {{#if isCode}}
                <pre>{{{val}}}</pre>
            {{else}}
                {{{val}}}
            {{/if}}
        </li>
    {{/each}}
</ul>