{{#if headers}}
  <div {{{class 'header'}}}>
    {{#repeat group.indentLevel}}
      <div {{{class 'nesting-level'}}}></div>
    {{/repeat}}
    <div {{{class 'time-container'}}}>
      <span>{{headers.time}}</span> <span>{{headers.from}}</span>
    </div>
  </div>
{{/if}}
<div {{{class (concat type ' log-item')}}}>
  {{#repeat group.indentLevel}}
    <div {{{class 'nesting-level'}}}></div>
  {{/repeat}}
  {{#if icon}}
    <div {{{class 'icon-container'}}}>
      <span {{{class (concat 'icon icon-' icon)}}}></span>
    </div>
  {{/if}}
  <div {{{class 'count-container hidden'}}}>
    <div {{{class 'count'}}}></div>
  </div>    
  <div {{{class 'log-content-wrapper'}}}>
    <div {{{class 'log-content'}}}>{{{msg}}}</div>
  </div>
</div>