<div {{{class 'http'}}}>
  <div {{{class 'breadcrumb'}}}>{{url}}</div>
  {{#if data}}
    <pre {{{class 'data'}}}>{{data}}</pre>
  {{/if}}
  <div {{{class 'section'}}}>
    <h2>Request Headers</h2>
    <table {{{class 'headers'}}}>
      <tbody>
        {{#if reqHeaders}}
          {{#each reqHeaders}}
            <tr>
              <td {{{class 'key'}}}>{{@key}}</td>
              <td>{{.}}</td>
            </tr>
          {{/each}}
        {{else}}
          <tr>
            <td>Empty</td>
          </tr>
        {{/if}}
      </tbody>
    </table>
    <h2>Response Headers</h2>
    <table {{{class 'headers'}}}>
      <tbody>
        {{#if resHeaders}}
          {{#each resHeaders}}
            <tr>
              <td {{{class 'key'}}}>{{@key}}</td>
              <td>{{.}}</td>
            </tr>
          {{/each}}
        {{else}}
          <tr>
            <td>Empty</td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
  {{#if resTxt}}
    <pre {{{class 'response'}}}>{{resTxt}}</pre>
  {{/if}}
</div>
<div {{{class 'back'}}}>Back to the List</div>