<div {{{class 'title'}}}>
  Request
  <div {{{class 'btn clear-request'}}}>
    <span {{{class 'icon-clear'}}}></span>
  </div>
</div>
<ul {{{class 'requests'}}}></ul>
<div {{{class 'detail'}}}></div>
