<div class="eruda-performance-timing">
    <div class="eruda-inner-wrapper">
        {{#each data}}
            <div class="eruda-bar">
                <span style="position:relative;left:{{start}}%;width:{{len}}%">{{name}}({{duration}}ms)</span>
            </div>
        {{/each}}
    </div>
</div>

<div class="eruda-performance-timing-data">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Time(ms)</th>
            </tr>
        </thead>
        <tbody>
            {{#each timing}}
                <tr>
                    <td>{{@key}}</td>
                    <td>{{this}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<ul class="eruda-requests">
    {{#each requests}}
        <li class="eruda-request" data-id="{{@key}}">
            <span>{{name}}</span>
            <span>{{status}}</span>
            <span>{{method}}</span>
            <span>{{subType}}</span>
            <span>{{size}}</span>
            <span>{{time}}ms</span>
            <span class="eruda-blue">{{url}}</span>
        </li>
    {{/each}}
</ul>