{{#if requests}}
  {{#each requests}}
    <li class="eruda-request {{#if hasErr}}eruda-error{{/if}}" data-id="{{@key}}">
      <span {{{class 'name'}}}>{{name}}</span>
      <span {{{class 'status'}}}>{{status}}</span>
      <span {{{class 'method'}}}>{{method}}</span>
      <span {{{class 'type'}}}>{{subType}}</span>
      <span {{{class 'size'}}}>{{size}}</span>
      <span {{{class 'time'}}}>{{displayTime}}</span>
    </li>
  {{/each}}
{{else}}
  <li><span {{{class 'name'}}}>Empty</span></li>
{{/if}}